<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>会务信息统计系统--密码修改</title>
    <link href="__PUBLIC__/css/css.css" rel="stylesheet">
    <script src="__PUBLIC__/js/js.js"></script>
</head>
<body>
<div class="page">
    <include file="header" />
    <div class="container">
        <div class="user_add">
            <h2>密码修改</h2>
            <form method="post" action="__CONTROLLER__/userChange" name="changeP">
                <span>用户名：<?php echo session('name'); ?></span><br/><br/>
                <span>职工号：<?php echo session('number'); ?></span><br/><br/>
                <span>原密码：</span><input type="password" name="oldPassword"><br/><br/>
                <span>新密码：</span><input type="password" name="newPassword"><br/><br/>
                <span>重输密码：</span><input type="password" name="rePassword"><br/><br/>
                <input type="submit" value="修改" onclick="return change()">
            </form>
        </div>

    </div>
    <include file="footer" />
</div>
</body>
</html>